<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Songs</title>
		<link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.1.3/css/bootstrap.min.css}"/>
	</head>
	<body>
		<header>
			<nav class="navbar navbar-dark bg-dark">
				<div class="container justify-content-start mx-0">
					<a class="btn btn-primary text-info me-5" href="/">Best of 2021</a>
					<a th:href="@{/movies}" class="btn btn-primary me-2">Movies</a>
					<a th:href="@{/songs}" class="btn btn-primary  ">Songs</a>
				</div>
		</header>
		<h1 class="text-center pt-3 pb-4">Songs</h1>
		<div th:if="${songs.size() > 0}">
			<div class="container text-center w-25">
				<ul class="list-group">
					<li class="list-group-item shadow-lg" aria-current="true" th:each="song : ${songs}" th:text="${song}">
					</li>	
				</ul >
			</div>
		</div >
		<p th:unless="${songs.size() > 0}">Nessuna canzone presente nel database</p>
		<script th:src="@{/webjars/bootstrap/5.1.3/js/bootstrap.bundle.min.js}"></script>
	</body>
</html>